@using WebApp.ViewModels.Card

@model CardViewModel;

<div class="products__item">
    <div class="products__wrap-img">
        <div class="products__img">
            <picture class="aspect-ratio" style="--aspect-ratio: 336/215; ">
                <!-- size 336/215 -->
                <img width="336" height="215" src="@Model.Image.Url" loading="lazy" alt="picture">
            </picture>
        </div>

    </div>
    <!-- <div class="products__info"> -->
    <div class="products__info-wrap">
        <h3 class="title title--black title--m">@Model.CardTitle</h3>
        <span class="products__subtitle">@Model.CardSubtitle</span>
    </div>
    <div class="text">
        <p>@Model.CardText</p>
    </div>
    <a class="button button--uncolor" href="@Model.Link">@Model.LinkText</a>
</div>
