@using Progress.Sitefinity.AspNetCore.TagHelpers;
@using Progress.Sitefinity.AspNetCore.Mvc.Rendering;
@using WebApp.ViewModels

@model ExtendedNavigationViewModel


@* <div class="main-footer__item "> *@
    <h2 class="main-footer__title">@Model.NavigationTitle</h2>
    <ul class="main-footer__small-list">
        @foreach(var node in Model.Nodes)
        {
            <li class="main-footer__small-item">
                <a class="main-footer__small-link" href="@node.Url">
                    @node.Title
                </a>
            </li>
        }
    </ul>
@* </div> *@

@* <div class="navigation-widget footer-nav">

    @if (!string.IsNullOrWhiteSpace(Model.NavigationTitle))
    {
        <h2 class="text-light">@Model.NavigationTitle</h2>
    }

    <ul class="nav flex-column ">
        @foreach (var node in Model.Nodes)
        {
            <li class="nav-item ">
                <a class="nav-link sf-link" style="color: @(Model.DefaultColor)" href="@node.Url">@node.Title</a>
            </li>
        }
    </ul>

</div> *@
@* <li class="main-footer__item ">
    <h2 class="main-footer__title">About</h2>
    <ul class="main-footer__small-list">

        <li class="main-footer__small-item">
            <a class="main-footer__small-link" href="#">
                About us
            </a>
        </li>

        <li class="main-footer__small-item">
            <a class="main-footer__small-link" href="#">
                FAQ
            </a>
        </li>

    </ul>
</li> *@